* {
    outline: 0; /*Disable outline on click*/
}

body {
    padding-top: 10px;
}

.container {
    overflow: hidden;
    text-align: center;
    margin: 10px auto;
    padding: auto;
    width: 400px;
    height: 452px;
    border-radius: 10px;
    background: #e4dccf;
    box-shadow: 0 1px 15px 1px #373c40;
}
.display-container {
    position: relative;
    background: #373c40;
    margin: 15px auto;
    padding: 5px;
    width: 360px;
    height: 80px;
    border-radius: 10px;
}
.display {
    position: relative;
    font-family: "ZCOOL QingKe HuangYou", cursive;
    background: #a7b9a3;
    border: 1px solid #1A237E;
    text-align: right;
    font-size: 36px;
    margin: auto;
    padding: 2px;
    width: 340px;
    height: 60px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 1px black;
    overflow: hidden;
}
.row-1 {
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.row-2 {
    font-size: 38px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.buttons {
    margin: auto;
    width: 360px;
    height: 550px;
    
}
.buttons button {
    outline: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin: 5px;
    width: 70px;
    height: 70px;
    float: left;
    border: none;
    border-radius: 20%;
    color: white;
    background: #45494c;
    box-shadow: 0px 6px 0 #191b19;
}

.buttons button:active {
    box-shadow: 0 0 0.5px;
    transform: translateY(6px);
}

.buttons .op-btn {
    background: #24a19d;
    box-shadow: 0 6px 0 #187672;
    color: white;
    width: 50px;
    border-radius: 8px;
}
.buttons .clr-btn {
    background: #c62e2d;
    box-shadow: 0 6px 0 #932421;
}
.buttons .eq-btn {
    background: #ec6c15;
    border-radius: 8px;
    box-shadow: 0 6px 0 #b54701;
    width: 110px;
}

/*Disables text highlighting*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
